[Unit]
Description=Catdometer UI

[Service]
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/pi/.Xauthority
ExecStart=/bin/bash -c '/usr/bin/python3 /home/pi/catdometer/src/CatdometerUI.py'
Restart=always
RestartSec=10s
KillMode=process
TimeoutSec=infinity

[Install]
WantedBy=graphical.target

